# Archivos auxiliares de compilación de LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.synctex(busy)
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.lof
*.lot
*.bcf
*.run.xml

# Archivos temporales del sistema
Thumbs.db
Desktop.ini
.DS_Store
